//slide variables
$slide-arrow-button-color: #ddd;
$slide-arrow-button-default-opacity: 0.3;
$slide-arrow-button-hover-opacity: 0.9;

//fotter variables
$footer-background-color: #2a0;
$footer-text-color: #aaa;
