//slide variables
$slide-arrow-button-color: #ddd;
$slide-arrow-button-default-opacity: 0.3;
$slide-arrow-button-hover-opacity: 0.9;

//fotter variables
$footer-background-color: #94f;
$footer-text-color: #aaa;
$footer-text-color-hover: #fff;
$footer-copy-text-color: #888;
