//slide variables
$slide-arrow-button-color: #ddd;
$slide-arrow-button-default-opacity: 0.3;
$slide-arrow-button-hover-opacity: 0.9;

// main variables

$main-background-color: rgba(0, 0, 0, 0.3);
$main-text-color: #fff;

//fotter variables
$footer-background-color: rgba(0, 0, 0, 0.15);

$footer-text-color: #aaa;
$footer-text-color-hover: #fff;
$footer-copy-text-color: #888;
