* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #ff1f9a;
  color: #fff;
}

*::selection {
  background-color: #ff1f9a;
  color: #fff;
}

@-webkit-keyframes OneCenter {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes OneCenter {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes UnOneCenter {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes UnOneCenter {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #00ff000f;
}

*::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090), color-stop(#0f0), to(#050));
  background-image: linear-gradient(#090, #0f0, #050);
}

.slide {
  position: relative;
  height: 100vh;
}

.slide .image-container {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 255, 0, 0.5);
  z-index: 2;
  overflow: hidden;
}

.slide .image-container * {
  position: absolute;
}

.slide .buttons-container {
  position: absolute;
  z-index: 5;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .buttons-container button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 3.5rem;
  opacity: 0.9;
}

.slide .buttons-container button:hover {
  opacity: 0.3;
}

.slide .buttons-container button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.slide .buttons-container button svg > * {
  stroke: #ddd;
}

.content-block {
  position: relative;
}

.content-block .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-block button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

.content-block button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.content-block button * {
  stroke: #fff;
  fill: #000;
}

.content-block button .rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.content-block .content {
  background-color: #00000088;
  color: #ddd;
}

.content-block .disnable {
  -webkit-animation: go-in 70ms forwards;
          animation: go-in 70ms forwards;
}

.content-block .enable {
  -webkit-animation: go-out 70ms forwards;
          animation: go-out 70ms forwards;
}

@-webkit-keyframes go-in {
  from {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
  }
  to {
    -webkit-transform: translateY(-50%) scaleY(0);
            transform: translateY(-50%) scaleY(0);
  }
}

@keyframes go-in {
  from {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
  }
  to {
    -webkit-transform: translateY(-50%) scaleY(0);
            transform: translateY(-50%) scaleY(0);
  }
}

@-webkit-keyframes go-out {
  from {
    -webkit-transform: translateY(-50%) scaleY(0);
            transform: translateY(-50%) scaleY(0);
  }
  to {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
  }
}

@keyframes go-out {
  from {
    -webkit-transform: translateY(-50%) scaleY(0);
            transform: translateY(-50%) scaleY(0);
  }
  to {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
  }
}

div.VirtualPage {
  min-height: 100vh;
}

.page-container {
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-container p {
  font-size: 1.2rem;
}

.page-container header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: red;
}

.page-container main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-container footer {
  min-height: 20vh;
  background-color: #94f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-container footer * {
  color: #aaa;
}

.page-container footer .owners {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-container footer .owners h6 {
  font-size: 1.5rem;
}

.page-container footer .owners ul {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 75%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-container footer .owners a {
  text-decoration: none;
}

.page-container footer .owners a:hover {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 500px) {
  .page-container footer .owners ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-container footer .copyright {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  text-align: center;
  color: #888;
}
/*# sourceMappingURL=index.css.map */