.slide {
    position: relative;
    height: 100vh;

    .image-container {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 255, 0, 0.5);
        z-index: 2;
        overflow: hidden;
        * {
            position: absolute;
        }
    }

    .buttons-container {
        position: absolute;
        z-index: 5;
        inset: 0;
        button {
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 3.5rem;
            opacity: $slide-arrow-button-hover-opacity;
            &:hover {
                opacity: $slide-arrow-button-default-opacity;
            }

            &:active {
                transform: scale(0.9);
            }
            svg > * {
                stroke: $slide-arrow-button-color;
            }
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
